@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Pangolin&family=Recursive:wght@300;500&family=Syne+Mono&display=swap");
/* ? font-family: 'Montserrat', sans-serif;
? font-family: 'Pangolin', cursive;
? font-family: 'Recursive', sans-serif;
? font-family: 'Syne Mono', monospace;*/

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100%; */
}

body {
  background-color: #101010;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orangered;
  background-color: #171819;
  position: sticky;
  top: 0;
}

.logo {
  padding: 15px 0px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne Mono", monospace;
  font-size: 35px;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: orangered;
  transition: all 0.5s ease-in;
}

.logo a:hover {
  color: palegreen;
  transform: translatex(20px);
}

.nav-ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.nav-ul li {
  list-style: none;
  padding: 15px 30px;
}

.nav-ul li a {
  text-decoration: none;
  color: orangered;
  font-family: "montserrat";
  font-size: 20px;
  /* transition: all 0.1s ease-in; */
}

.nav-ul li a:hover {
  font-weight: bold;
  color: rgb(0, 132, 255);
  cursor: pointer;
}

ul li a.active {
  background-color: chartreuse;
  color: orangered;
  padding: 15px 10px;
  margin: 0px 0px;
}

.services h1 {
  color: chartreuse;
  font-family: "Montserrat", sans-serif;
  margin: 50px 90px 25px 90px;
  letter-spacing: 2px;
  font-size: 30px;
}

.services p {
  color: orangered;
  font-family: "recursive";
  margin: 0px 110px 20px 110px;
}

.showcase {
  margin: 50px 110px 0px 110px;
}

.showcase p {
  color: black;
  font-family: "montserrat";
  margin-top: 0px;
  text-align: justify;
}

.showcase h2 {
  margin-bottom: -150px;
  font-family: "recursive";
}

.service-left {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 20px;
  background-color: rgba(38, 224, 200, 0.7);
  padding: 30px 34px 30px 34px;
  margin-bottom: 50px;
  border-radius: 25px;
}

.service-right {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 20px;
  background-color: #54a84c;
  padding: 30px 34px 30px 34px;
  margin-bottom: 50px;
  border-radius: 25px;
  margin: 0px 0px 50px 0px;
}

.service-left p {
  margin: 180px 0px 0px 0px;
}

.txt-2 p {
  margin: auto 30px;
  margin: 180px 0px 0px 0px;
}

.txt-2 p {
  margin-left: 5px;
}

.txt-2 h2 {
  margin-bottom: -160px;
}

button {
  margin: 0px 500px 30px 500px;
  width: 20vw;
  padding: 10px 25px;
  background-color: orangered;
  border: none;
  font-style: "montserrat";
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: palegreen;
}

footer {
  margin: auto 0px 20px 0px;
}

.footer-txt {
  text-align: center;
  font-size: 16px;
  font-family: "montserrat";
  font-weight: bold;
  color: orangered;
}

.footer-txt a {
  color: orangered;
  text-decoration: none;
}

.contacts {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.fab {
  padding: 0px 15px;
  font-size: 18px;
  color: orangered;
}
